<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Order Details Table with Search Filter</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-12">

            <form class="form-horizontal" id="form-edit-client" method="post" th:object="${emp}" action="/editEmp/">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Client</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-name">ID</label>
                        <div class="col-md-4">
                            <input th:field="*{id}" type="text" class="form-control input-md" readonly>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="client-name">Name</label>
                        <div class="col-md-4">
                            <input id="client-name" th:field="*{name}" type="text" placeholder="your client's name"
                                   class="form-control input-md">
                            <span class="help-block">Full name of your customer</span>
                        </div>
                    </div>

                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Gender</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label for="client-gender-0">
                                    <input type="radio" name="gender" id="client-gender-0" value="Male"
                                           th:checked="*{gender == 'Male'}">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label for="client-gender-1">
                                    <input type="radio" name="gender" id="client-gender-1" value="Female"
                                           th:checked="*{gender == 'Female'}">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label for="client-status-0">
                                    <input type="radio" name="status" id="client-status-0" value="Active"
                                          th:checked="*{status == 'Active'}" >
                                    Active
                                </label>
                            </div>
                            <div class="radio">
                                <label for="client-status-1">
                                    <input type="radio" name="status" id="client-status-1" value="Inactive"
                                           th:checked="*{status == 'Inactive'}" >
                                    Inactive
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <button type="submit" id="btn-save" name="btn-save" class="btn btn-success">Save</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>
</body>
</html>